//------------------------------------------------------------------------
//# Color Rules
//------------------------------------------------------------------------

// Primary colors
$color-purple: #7400b8ff;
$color-french-violet: #6930c3ff;

// Secondary colors

// Shades (white -> black)
$color-black: #000;
$color-gray: rgb(131, 131, 131);
$color-white: #fff;
