.navbar {
    z-index: 2;
    background-color: white;
}

.custom-dropdown-menu__container {
    width: 100vw;
    height: 40vh;
    // background-color: lightblue;
}

// .custom-dropdown-menu-werknemers,
// .custom-dropdown-menu-werkgevers,
// .custom-dropdown-menu-gepensioneerden,
// .custom-dropdown-menu-onze-organisatie {
//     position: absolute;
//     z-index: 1;
//     width: 100%;
//     transform: translateY(-500px);
//     transition: all 0.6s ease-in-out;
//     &.show {
//         display: block;
//         transform: translateY(0px);
//     }
// }

.custom-dropdown-menu-werknemers,
.custom-dropdown-menu-werkgevers,
.custom-dropdown-menu-gepensioneerden,
.custom-dropdown-menu-onze-organisatie {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
    transition: all 1s ease-in;
    transform: translateY(-500px);
    &.show {
        display: block;
    }
    &.animate {
        transform: translateY(0px);
    }
}

.custom-dropdown-menu-werknemers {
    background-color: palegoldenrod;
}
.custom-dropdown-menu-werkgevers {
    background-color: palegreen;
}
.custom-dropdown-menu-gepensioneerden {
    background-color: peachpuff;
}
.custom-dropdown-menu-onze-organisatie {
    background-color: plum;
}

.triggerzone {
    background-color: lightcoral;
    z-index: 10;
    width: 100vw;
    height: 200px;
    display: none;
    &.show {
        display: block;
        margin-top: 0px;
        transform: translateY(300px);
    }
}
